<header>
    <a *ngIf='this.userId == -1' href="/login">Login</a>
    <a *ngIf='this.userId != -1' >Welcome, {{this.userId}}</a>
</header>

<section>
    <nav>
        <ul>
          <li><a href="#">Create Open Lobby</a></li>
          <li><a href="#">Play a Computer</a></li>
          <li><a href="#">Play With Friends</a></li>
          <li><a (click)="gotoGame()">Go to test game</a></li>
        </ul>
      </nav>
</section>

<aside>
  <div>
    <a (click)="getGames()">Refresh</a>
    <div *ngFor='let game of this.openGames; let i = index'>
          <a (click)="enterGame(this.openGames[i].gameId)">Join Game {{game.gameId}}</a>
    </div>    
  </div>
</aside>