<header>
    <a class='login' *ngIf='this.userId == -1' href="/login">Login</a>
    <a class='profile'*ngIf='this.userId != -1' >Welcome, {{this.userId}}</a>
</header>

<section>
    <nav>
        <ul>
          <li><a class='buttons'>Create Open Lobby</a></li>
          <li><a class='buttons'>Play a Computer</a></li>
          <li><a class='buttons'>Play With Friends</a></li>
          <li><a class='buttons' (click)="gotoGame()">Go to test game</a></li>
        </ul>
      </nav>
</section>

<aside>
  <div>
    <h2>Open Lobbies:</h2>
    <a class='lobbies' (click)="getGames()">Refresh</a>
  </div>
  <br>
  <div>
    <div *ngFor='let game of this.openGames; let i = index'>
          <a class='lobbies'(click)="enterGame(this.openGames[i].gameId)">Join Game {{game.gameId}}</a>
    </div>    
  </div>
</aside>