
  <section>
    <div id="board1" ></div>
  </section>
  

 <aside>
   <h3>Chat:</h3>
   <br>
   <div *ngIf='this.isOpponentPresent()'>Waiting for Opponent</div>

   <div style="margin-left: 10px; white-space: pre-wrap;">
    <article>
      {{this.currentGame.chat}}
      <form [formGroup]="deviceForm" (ngSubmit)="sendMessage()" >
        <label>
          <input type="text" formControlName="message"  required>
        </label>
        <button type="submit" >Send</button>
      </form>
      <a class='buttons' (click)="updateGame()">update game</a>
      <a class='buttons' (click)="pushGameState()">push state</a>

    </article>
   </div>

</aside> 