
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: rgb(117, 117, 117);
  }
  /* Control the left side */
  .left {
    left: 0;
    background-color: rgb(44, 51, 54);
  }
  
  section {
    float: left;
    width: 45%;
    margin-left: 100px;
    
  }

  aside{
    float: left;
    padding: 20px;
    margin: 20px;
    background-color: rgb(109, 108, 108);
    border: 2px;
    border-color: rgb(80, 80, 80);
    border-radius: 3px;

  }

  article{
    background-color: white;
    color: black;
    border-radius: 3px;
    padding: 2px;
  }

  